@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');

#h4{
    font-family: 'Grand Hotel', cursive;
}

.home{

    font-family:"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
}

.home-card{
    max-width: 614px;
    margin: 30px auto;
}

.input-field input[type=text]:focus{
    border-bottom: 1px solid rgb(8, 93, 252) !important;
}

