@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');

.mt-15{
    margin-top: 15px;
}

.mycard{
    text-align: center;
    max-width: 400px;
    margin: 10px auto;
    padding: 20px 40px;
}

h2{
    font-family: 'Grand Hotel', cursive;
}

.signupbody{
    margin-top: 65px;
}

.input-field input[type=text]:focus{
    border-bottom: 1px solid rgb(8, 93, 252) !important;
}

.input-field input[type=password]:focus{
    border-bottom: 1px solid rgb(8, 93, 252) !important;
}

.input-field input[type=text, type=password]{
    margin-bottom: 10px;
    max-width: 300px;
}

.link2login{
    margin-top: 30px;
    margin-bottom: 30px;
}
